body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}


#encabezado {
    width: 100%;
    height: 422px;
    margin-top: -40px;
    background-image: url(../img/fondo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    box-shadow: #123456 0 0 10px;
    -moz-box-shadow: #123456 0 0 10px;
    -webkit-box-shadow: #123456 0 0 10px;
}

.contenedor_encabezado {
  max-width: 960px;  
  padding-top: 10px;
}

.contenedor_principal {
  padding-top: 20px;
  padding-bottom: 35px;
  background-color: #FFF;
  max-width: 960px;  
  padding-top: 10px;

  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

}

.titulo_presupuestador {
  font-family: 'Montserrat', sans-serif;
  float: right;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 5px;
  vertical-align: middle !important;
}

.table>tbody>tr>th {
  border-top-style: none;
}

.btn-erp {
  background-color: #ff0412 !important;
}

.panel-heading-erp {
  cursor: pointer;
  border-bottom-color: #ff0412 !important;
  border-bottom-width: 2px;
}

.panel-footer-erp{
  border-top-color: #ff0412 !important;
  border-top-width: 2px;
}

.btn-mrp {
  background-color: #00d700 !important;
}

.panel-heading-mrp {
  cursor: pointer;
  border-bottom-color: #00d700 !important;
  border-bottom-width: 2px;
}

.panel-footer-mrp {
  border-top-color: #00d700 !important;
  border-top-width: 2px;
}


.btn-crm {
  background-color: #ffd700 !important;
}

.panel-heading-crm {
  cursor: pointer;
  border-bottom-color: #ffd700 !important;
  border-bottom-width: 2px;
}

.panel-footer-crm {
  border-top-color: #ffd700 !important;
  border-top-width: 2px;
}


.btn-bi {
  background-color: #6c614b !important;
}

.panel-heading-bi {
  cursor: pointer;
  border-bottom-color: #6c614b !important;
  border-bottom-width: 2px;
}

.panel-footer-bi {
  border-top-color: #6c614b !important;
  border-top-width: 2px;
}

.modo-de-adquisicion {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.btn-modo {
  width: 50%;
  max-width: 150px;
}

.img-top-xs {
  width: 150px;
}

.img-gextion-xs {
  width: 80px;
}


.cartel-mensaje {
  margin: 25px;
}

.panel-heading-cliente {
  cursor: pointer;
}

.tit-panel {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}





.twitter-typeahead {
  width: 100% !important;
}


.tt-menu,
.gist {
  text-align: left;
}

.div-col-enc {
  float: left;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: grey;
}

.fila-paquete:hover {
  background-color: #F7F7F7;
}


.col-paquete {
  width: 55%;
  float: left;
  text-align: left;
}

.col-cant {
  width: 20%;
  float: left;
  text-align: right;
  margin-top: 10px;
  margin-bottom: 10px;
}
.col-precio {
  width: 25%;
  float: left;
  text-align: right;
  margin-top: 10px;
  margin-bottom: 10px;
}

.col-cant-precio {
  width: 45%;
  float: left;
  text-align: right;
  margin-top: 10px;
  margin-bottom: 10px;  
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.btn-link-paquete {
  margin-top: -40px;
}

.btn-link-paquete-xs {
  margin-top: -20px;
}

.btn-accion {
  margin-top: 5px;
  margin-bottom: 5px;
}