body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}


#encabezado {
    width: 100%;
    height: 422px;
    margin-top: -40px;
    background-image: url(../img/fondo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    box-shadow: #123456 0 0 10px;
    -moz-box-shadow: #123456 0 0 10px;
    -webkit-box-shadow: #123456 0 0 10px;
}

.contenedor_encabezado {
  max-width: 960px;  
  padding-top: 10px;
}

.contenedor_principal {
  padding-top: 20px;
  padding-bottom: 35px;
  background-color: #FFF;
  max-width: 960px;  
  padding-top: 10px;

  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

}

.titulo_presupuestador {
  font-family: 'Montserrat', sans-serif;
  float: right;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 5px;
  vertical-align: middle !important;
}

.table>tbody>tr>th {
  border-top-style: none;
}

.btn-erp {
  background-color: #ff0412 !important;
}

.panel-heading-erp {
  cursor: pointer;
  border-bottom-color: #ff0412 !important;
  border-bottom-width: 2px;
}

.panel-footer-erp{
  border-top-color: #ff0412 !important;
  border-top-width: 2px;
}

.btn-mrp {
  background-color: #00d700 !important;
}

.panel-heading-mrp {
  cursor: pointer;
  border-bottom-color: #00d700 !important;
  border-bottom-width: 2px;
}

.panel-footer-mrp {
  border-top-color: #00d700 !important;
  border-top-width: 2px;
}


.btn-crm {
  background-color: #ffd700 !important;
}

.panel-heading-crm {
  cursor: pointer;
  border-bottom-color: #ffd700 !important;
  border-bottom-width: 2px;
}

.panel-footer-crm {
  border-top-color: #ffd700 !important;
  border-top-width: 2px;
}


.btn-bi {
  background-color: #6c614b !important;
}

.panel-heading-bi {
  cursor: pointer;
  border-bottom-color: #6c614b !important;
  border-bottom-width: 2px;
}

.panel-footer-bi {
  border-top-color: #6c614b !important;
  border-top-width: 2px;
}

.modo-de-adquisicion {
  margin-top: 10px;
  margin-bottom: 10px;
}


.cartel-mensaje {
  margin: 25px;
}

.panel-heading-cliente {
  cursor: pointer;
}

.tit-panel {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}





.twitter-typeahead {
  width: 100% !important;
}


.tt-menu,
.gist {
  text-align: left;
}



.typeahead,
.tt-query,
.tt-hint {
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 422px;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}

/* example specific styles */
/* ----------------------- */

#custom-templates .empty-message {
  padding: 5px 10px;
 text-align: center;
}

#multiple-datasets .league-name {
  margin: 0 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
}

#scrollable-dropdown-menu .tt-menu {
  max-height: 150px;
  overflow-y: auto;
}

#rtl-support .tt-menu {
  text-align: right;
}